

      <div class="row m-0 reward-section">
          <div class="col-lg-4 col-md-4">
            <div class="card apply-radius apply-shadow ">
              <div class="card-body">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="icon-box">
                        <i class="fa fa-gavel"></i>
                    </div>
                   
                  </div>
                  <div class="col-xs-8">
                    <div class="category">
                        <p class="whatcategory">
                            Sale Rewards.
                          </p>
                          <p class="points">
                              &#8377; 5000
                          </p>
                    </div>
                    
                    
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                       <a class="anchor"> View All</a>
                      </div>
                      
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
              <div class="card apply-radius apply-shadow ">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="icon-box">
                          <i class="fa fa-money"></i>
                      </div>
                     
                    </div>
                    <div class="col-xs-8">
                      <div class="category">
                          <p class="whatcategory">
                              Purchase Rewards
                            </p>
                            <p class="points">
                                &#8377; 20000
                            </p>
                      </div>
                      
                      
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <hr>
                         <a class="anchor"> View All</a>
                        </div>
                        
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card apply-radius apply-shadow ">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="icon-box">
                            <i class="fa  fa-shopping-cart"></i>
                        </div>
                       
                      </div>
                      <div class="col-xs-8">
                        <div class="category">
                            <p class="whatcategory">
                                Purchase 
                              </p>
                              <p class="points">
                                  &#8377; 50000
                              </p>
                        </div>
                        
                        
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <hr>
                           <a class="anchor"> View All</a>
                          </div>
                          
                    </div>
                    
                  </div>
                </div>
              </div>
      </div>
      <div class="row m-0">
          <div class="col-lg-12">
            <div class="panel panel-default panel-default-themed">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-lg-8"><h4>{{type}} ( {{name}} ) </h4></div>
                  <div class="col-lg-4 text-right"> <i class="fa fa-circle text-success"></i> {{status}}</div>
                </div>
              </div>
              <div class="panel-body">
                  <form class="form-horizontal" [formGroup]="userProfile"  (submit)="UserClick(userProfile)">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="fname">First Name</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="fname" formControlName="firstname" placeholder="First Name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="sname">Surname:</label>
                      <div class="col-sm-10"> 
                        <input type="password" class="form-control" id="sname" formControlName="secondname" placeholder="Last Name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="email">Email</label>
                      <div class="col-sm-10"> 
                        <input type="password" class="form-control" id="email" formControlName="email" placeholder="E-Mail">
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Mobile</label>
                        <div class="col-sm-10"> 
                          <input type="password" class="form-control" id="mobile" formControlName="mobile" placeholder="Mobile">
                        </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm-2" for="usertype">Type</label>
                          <div class="col-sm-10"> 
                            <select class="form-control" id="usertype" formControlName="usertype">
                              <option value="">Select Type</option>
                              <option value="0">Distributer</option>
                              <option value="1">Retailor</option>
                              <option value="2">Plumber</option>

                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="userstatus">Status</label>
                            <div class="col-sm-10"> 
                              <select class="form-control" formControlName="userstatus">
                                <option value="">Select Status</option>
                                <option value="0">Active</option>
                                <option value="1">Inactive</option>
                                
  
                              </select>
                            </div>
                          </div>
                   
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 text-right col-sm-10">
                        <button type="submit" class="btn btn-success" [disabled]="!userProfile.valid">Submit</button>
                      </div>
                    </div>
                  </form>
              </div>
             
            </div>
          </div>
      </div>
      <div class="row m-0">
          <div class="col-lg-12">
            <div class="panel panel-default  panel-default-themed">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-lg-12"><h4>Credentials </h4></div>
                  
                </div>
              </div>
              <div class="panel-body">
                  <form class="form-horizontal" [formGroup]="credentialsData" (submit)="CredentaialsClick(credentialsData)" >
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="password">Password</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="password" formControlName="password" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="confirm-password">Confirm Password</label>
                      <div class="col-sm-10"> 
                        <input type="password" class="form-control" id="confirm-password" formControlName="repassword" placeholder="Confirm Password">
                      </div>
                    </div>
                    <div class="form-group">
                      <div [ngClass]="errorClass" class="col-sm-offset-2 col-sm-10">
                          {{errorMessage}}
                      </div> 
                    </div>
                   
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 text-right col-sm-10">
                        <button type="submit" class="btn btn-success" [disabled]="!credentialsData.valid">Submit</button>
                      </div>
                    </div>
                  </form>
              </div>
             
            </div>
          </div>
      </div>
  
    


