<h4>Promotions</h4>


<div class="row block-content">
<div class="col-lg-4" >
    <!-- Left-aligned -->
      <div class="media reedem-card">
          <div class="media-left product-image">
            <img src="https://5.imimg.com/data5/SE/IG/MY-16775574/sintex-water-tanks-250x250.jpg" class="media-object" width="80px">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Product one layer four</h3>
            <p >Nov 30, 2016 </p>
            
            
            
            
          </div>
          
    </div>
  </div>
  <div class="col-lg-4" >
      <!-- Left-aligned -->
        <div class="media reedem-card">
            <div class="media-left product-image">
              <img src="https://5.imimg.com/data5/SE/IG/MY-16775574/sintex-water-tanks-250x250.jpg" class="media-object" width="80px">
            </div>
            <div class="media-body">
              <h3 class="media-heading">Product one layer four</h3>
              <p >Nov 30, 2016 </p>
              
              
              
              
            </div>
            
      </div>
    </div>

    <div class="col-lg-4" >
        <!-- Left-aligned -->
          <div class="media reedem-card">
              <div class="media-left product-image">
                <img src="https://5.imimg.com/data5/SE/IG/MY-16775574/sintex-water-tanks-250x250.jpg" class="media-object" width="80px">
              </div>
              <div class="media-body">
                <h3 class="media-heading">Product one layer four</h3>
                <p >Nov 30, 2016 </p>
                
                
                
                
              </div>
              
        </div>
      </div>

  </div>