
<div class="row m-0">
    <div class="col-lg-10 col-lg-offset-1">
     
      <form action="" class="simple mt-4">
          <p >{{behalf}}</p>
          <p class="mb-2">{{behalfee}}</p>
          
          <br>
          <div class="form-group">
              <label for="selectproducts">Select Products</label>
              <select id="selectproducts" class="select-product form-control"> 
                  <option>Select Products</option>
                  <option value="0">Product 1</option>
                  <option value="1">Product 2</option>
                  <option value="2">Product 3</option>
              </select>
          </div>
          <div class="form-group">
              <label for="noofproducts">Select no of products</label>
              <input id="noofproducts" type="number" class="form-control" placeholder="Select no of products">
          </div>
          <div class="form-group text-right">
            <button class="btn btn-primary">Request for Approval</button>
          </div>
  
      </form>
      
    </div>
    
  </div>
  