<h4>Retailer Reedemption Histroy</h4>


<div class="row block-content">
  <div class="col-lg-4" >
    <!-- Left-aligned -->
      <div class="media reedem-card">
          <div class="media-left product-image">
            <img src="https://5.imimg.com/data5/SE/IG/MY-16775574/sintex-water-tanks-250x250.jpg" class="media-object" width="80px">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Product one layer four</h3>
            <p >Points Reedemed : <span class="text-primary">800 Points</span></p>
            <p >Balanced Points : <span class="text-primary">800 Points</span></p>
            <div class="mb-4 stat-btn">
                <label class="text-default">Status:Pending</label>
            </div>
            
            
          </div>
          
        </div>
  </div>
  <div class="col-lg-4" >
      <!-- Left-aligned -->
        <div class="media reedem-card">
            <div class="media-left product-image">
              <img src="https://5.imimg.com/data5/SE/IG/MY-16775574/sintex-water-tanks-250x250.jpg" class="media-object" width="80px">
            </div>
            <div class="media-body">
              <h3 class="media-heading">Product one layer four</h3>
              <p >Points Reedemed : <span class="text-primary">800 Points</span></p>
              <p >Balanced Points : <span class="text-primary">800 Points</span></p>
              <div class="mb-4 stat-btn">
                  <label class="text-default">Status:Pending</label>
              </div>
              
              
            </div>
            
          </div>
    </div>
    <div class="col-lg-4" >
        <!-- Left-aligned -->
          <div class="media reedem-card">
              <div class="media-left product-image">
                <img src="https://5.imimg.com/data5/SE/IG/MY-16775574/sintex-water-tanks-250x250.jpg" class="media-object" width="80px">
              </div>
              <div class="media-body">
                <h3 class="media-heading">Product one layer four</h3>
                <p >Points Reedemed : <span class="text-primary">800 Points</span></p>
                <p >Balanced Points : <span class="text-primary">800 Points</span></p>
                <div class="mb-4 stat-btn">
                    <label class="text-default">Status:Pending</label>
                </div>
                
                
              </div>
              
            </div>
      </div>
  </div>