

<div class="panel panel-default">
  <div class="panel-heading">
      <div class="row">
          <div class="col-lg-8 "><h4>Sintax water Tank</h4></div>
          <div class="col-lg-4 text-right"><h4>50</h4></div>
        </div>
  </div>
  <div class="panel-body">
    
    <small>Sale Details</small>
    <hr>
    <div class="row">
      <div class="col-lg-4">
          <p class="text-muted mb-1">Sale To</p>
          <p>Rajeev Kumar</p>
      </div>
      <div class="col-lg-4">
          <p class="text-muted mb-1">Date &amp; Time</p>
          <p>30 Nov, 2018 | 2:45 pm</p>
      </div>
      <div class="col-lg-4">
          <p class="text-muted mb-1">Mobile Name</p>
          <p>9997760992</p>
      </div>
    </div>
 
    
    
    
    
    
    
    
  </div>
</div>