

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 >Enroll Plumber</h4>
  </div>
  <form >
  <div class="panel-body">
    
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="">Select Retailer</label>
                    <select for="" class="form-control">
                      <option>
                        Select Retailer
                      </option>
                    </select>
                </div>
                
              </div>
            <div class="col-lg-6">
              <div class="form-group">
                  <label for="">Select Branch</label>
                  <select for="" class="form-control">
                    <option>
                      Select Branch
                    </option>
                  </select>
              </div>
              
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                  <label for="">Select Zone</label>
                  <select for="" class="form-control">
                    <option>
                      Select Zone
                    </option>
                  </select>
              </div>
                
              </div>
              <div class="col-lg-6">
                  <label for="">First Name</label>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="First Name">
                  </div>
                  
                </div>
                <div class="col-lg-6">
                    <label for="">Last Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>
                    
                </div>
                <div class="col-lg-6">
                    <label for="">Mobile</label>
                    <div class="form-group">
                        <input  class="form-control" placeholder="Mobile" OnlyNumber="true">
                    </div>
                    
                  </div>
                  <div class="col-lg-6">
                      <label for="">Email</label>
                      <div class="form-group">
                          <input  class="form-control" placeholder="email" >
                      </div>
                      
                    </div>
                    <div class="col-lg-6">
                      <label for="">Select City</label>
                      <div class="form-group">
                          <select for="" class="form-control">
                              <option value="">
                                Select City
                              </option>
                            </select>
                      </div>
                      
                    </div>
                    <div class="col-lg-6">
                        <label for="">Select State</label>
                        <div class="form-group">
                            <select for="" class="form-control">
                                <option>
                                  Select State
                                </option>
                              </select>
                        </div>
                        
                      </div>
                      <div class="col-lg-6">

                          <label for="">Pincode</label>
                          <div class="form-group">
                              <input  class="form-control" placeholder="Enter Pincode" >
                          </div>
                          
                      </div>
                      <div class="col-lg-6">

                          <label for="">Kyc Status</label>
                          <div class="form-group">
                              <input type="" type="text" class="form-control" [disabled]="true" value="Pending">
                          </div>
                          
                          
                          
                      </div>
                      
          </div>
    
    
  </div>
  <div class="panel-footer p-4">
    <div class="row">
        <div class="col-lg-12 text-right">
          <button class="btn btn-primary">Submit</button>
        </div>
    </div>
  </div>
</form>
</div>